$globalSize: 16;
@mixin pxToRem($fontSize) {
	font-size: ($fontSize/$globalSize) * 1rem;
}

// Transform
@mixin transform($x, $y, $rot) {
    transform: translate($x, $y) rotate($rot);
    -webkit-transform: translate($x, $y) rotate($rot);
    -moz-transform: translate($x, $y) rotate($rot);
    -ms-transform: translate($x, $y) rotate($rot);
}


// Child colonne
@mixin childColPaddx($parentCol, $childCol, $paddingLeft, $paddingRight) {
    $proporzioneEstremi: ($childCol * 100);
    $proporzioneX: ($proporzioneEstremi/$parentCol);
    $xPercent: $proporzioneX * 1%;
    width: $xPercent;
    padding-left:$paddingLeft;
    padding-right: $paddingRight;
}

@mixin childCol($parentCol, $childCol) {
    $proporzioneEstremi: ($childCol * 100);
    $proporzioneX: ($proporzioneEstremi/$parentCol);
    $xPercent: $proporzioneX * 1%;
    width: $xPercent;
}

@mixin childColCalc($parentCol, $childCol,$operator, $calc) {
    $proporzioneEstremi: ($childCol * 100);
    $proporzioneX: ($proporzioneEstremi/$parentCol);
    $xPercent: $proporzioneX * 1%;
    width:calc(#{$xPercent} #{$operator} #{$calc});
}
