@import "../../styles/variables";

.header {
    width: $col12;
    display: flex;
    flex-direction: column-reverse;
    gap:16px;
    margin-bottom: 16px;
    @media screen and (min-width:$sm) {
        margin-bottom: 32px;
        align-items: center;
        justify-content: space-between;
    }
    &--row {
        @media screen and (min-width:$sm) {
            flex-direction: row;
        }
    }
    &--reverse {
        @media screen and (min-width:$sm) {
            flex-direction: row-reverse;
            a, button {
                flex-direction: row-reverse;
            }
        }
    }
}

.headerTitle {
    margin-bottom: 0;
}